:root {
  --color-primary: #0066FF;
  --color-admin-primary: #424bff;

  --color-text-grey: rgba(0, 0, 0, 0.55);

  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: #17803c;
  --color-red: #be185e;

  --color-admin-primary-hover: #ebebff;
  --color-admin-primary-active: #cbccff;
  --color-backdrop: #f6f6ff;

  --color-grey-20: #eaeaea; /* divider (list items, files) */
  --color-grey-30: #dddddd; /* divider (sections, header) */
  --color-grey-40: #f5f5f5;
  --color-grey-50: #eaeaea;
  --color-grey-60: #dadada;
  --color-grey-80: #949494;

  --color-icon-grey: rgba(0, 0, 0, 0.42);

  --color-tooltip-dark: #222222;

  --color-alert: #eb0000;

  --color-hover: rgba(0, 0, 0, 0.03);
  --color-active: rgba(0, 0, 0, 0.06);

  /* To create a stronger distinction between the map-renderer and admin components two different fonts are used.
   For the map-renderer PT Sans is used and for the admin components Roboto. */
  --font-family: "PT Sans", sans-serif;
  --font-family-admin: "Roboto", sans-serif;

  --font-size-tiny: 12px;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-large: 18px;

  --font-weight-normal: 300;
  --font-weight-bold: 500;

  --radius-small: 3px;
  --radius-normal: 6px;

  --shadow-normal: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.15);

  --padding-screen: 8px;

  --width-detail: 100vw;
  --width-button-small: 24px;
  --width-button-normal: 32px;
  --width-button-large: 40px;

  --slider-transition: 0.15s;
  --slider-diameter: 14px;
  --slider-padding: 3px;
}

@media (min-width: 576px) {
  :root {
    --width-detail: 300px;
    --padding-screen: 16px;
  }
}

@media (min-width: 768px) {
  :root {
    --width-detail: 320px;
  }
}

@media (min-width: 1200px) {
  :root {
    --width-detail: 400px;
    --padding-screen: 20px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

html {
  font-family: "PT Sans", sans-serif;
  letter-spacing: -0.005em;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* Remove outline from all focused elements */
*:focus {
  outline: none;
  outline-offset: -2px;
}

/* Remove highlight color on Android */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html.keyboard-user *:focus {
  outline: 2px solid var(--color-primary);
}

@media (max-width: 575px) {
  .container {
    padding: 0 20px;
  }

  .section {
    padding: 32px 0;
  }
}

@media (min-width: 576px) {
  .container {
    padding: 0 32px;
  }

  .section {
    padding: 40px 0;
  }
}

input,
button {
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background: var(--color-white);
  font: inherit;
  letter-spacing: inherit;
  text-align: left;
}

input::placeholder {
  color: var(--color-text-grey);
}

textarea {
  border: 1px solid var(--color-grey-60);
  border-radius: var(--radius-normal);
  resize: vertical;
  font: inherit;
  padding: 8px 16px;
}

button:not([disabled]) {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

svg {
  flex-shrink: 0;
}

.iconbutton {
  color: black;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-radius 0.1s;
}

.iconbutton.__small {
  width: 28px;
  height: 28px;
}

.iconbutton.__normal {
  width: 40px;
  height: 40px;
}

.iconbutton.__round {
  border-radius: 50%;
}

.iconbutton.__transparent-bg {
  background: transparent;
}

.iconbutton.__outline {
  border-radius: var(--radius-normal);
  border: 1px solid var(--color-grey-60);
}

.iconbutton[disabled] {
  color: var(--color-grey-60);
}

.iconbutton.isActive {
  color: var(--color-primary);
}

.iconbutton.__inverse.isActive {
  background: var(--color-primary);
}

.iconbutton:not([disabled]):hover {
  background: var(--color-grey-40);
}

.iconbutton.__admin_hover:not([disabled]):hover {
    background: var(--color-admin-primary-hover);
    outline: 2px solid var(--color-white);
    outline-offset: -2px;
}

/* If we set the hover state on the svg itself the svg does not change color if the button is hovered. */
.iconbutton.__inverse.isActive:not([disabled]):hover > svg {
  color: var(--color-primary);
}

.iconbutton.__inverse.isActive > svg {
  color: var(--color-white);
}

.iconbutton.__alt_hover:not([disabled]):hover {
  background: var(--color-primary-hover);
  outline: 2px solid var(--color-white);
  outline-offset: -2px;
}

.iconbutton.__no-hover:not([disabled]):hover {
  background: transparent;
}

.iconbutton:not([disabled]):active {
  background: var(--color-grey-50);
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  position: relative;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  border-radius: var(--radius-normal);
  line-height: 1;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  overflow: hidden;
}

.button.__primary {
  background: var(--color-primary);
  color: white;
}

.button.__primary_admin {
  background: var(--color-admin-primary);
  color: white;
}

.button.__secondary {
  background: white;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.button.__secondary_admin {
  background: white;
  border: 1px solid var(--color-admin-primary);
  color: var(--color-admin-primary);
}

.button.__tertiary {
  background: white;
  border: 1px solid var(--color-grey-60);
  color: black;
}

.button.__alert {
  background: white;
  border: 1px solid var(--color-alert);
  color: var(--color-alert);
}

.button.__large {
  height: 56px;
  font-size: var(--font-size-large);
  border-width: 1px;
}

.button.__normal {
  height: 48px;
  font-size: var(--font-size-large);
}

.button.__small {
  height: 32px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
}

.button.__transparent-bg {
  background: transparent;
}

.button:hover:before {
  background: var(--color-hover);
}

.button:active:before {
  background: var(--color-active);
}

.button.__no-hover:hover:before {
  background: transparent;
}

.button.__chevron {
  padding-right: 0;
}

.button.__chevron svg.setting-chevron {
  transition: transform 100ms ease-in-out;
}

.button.__chevron:hover svg.setting-chevron {
  transform: translateX(5px);
}

@media (max-width: 576px) {
  .button.__full-width-mobile {
    width: 100%;
  }
}

hr {
  border: none;
  border-top: 1px solid var(--color-grey-60);
}

.menu {
  padding: 6px 0;
  background: white;
  border-radius: var(--radius-small);
  border-top-right-radius: 0;
  box-shadow: var(--shadow-normal);
}

.list a,
.list button {
  display: block;
  width: 100%;
  color: black;
  text-decoration: none;
  padding: 4px 12px;
  font-size: var(--font-size-small);
}

.list a:hover,
.list button:hover {
  background: var(--color-grey-40);
}

.list a:active,
.list button:active {
  background: var(--color-grey-50);
}

.counter {
  flex-shrink: 0;
  height: 18px;
  min-width: 18px;
  border-radius: 9px;
  border: 1px solid var(--color-primary);
  padding: 0 3px;
  background: white;
  color: var(--color-primary);
  font-size: 11px;
  font-weight: var(--font-weight-bold);
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  user-select: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.tippy-tooltip {
  padding: 0;
  border-radius: var(--radius-normal);
  font-family: inherit;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0em;
}

.tippy-tooltip .tippy-content {
  padding: 3px 7px 4px;
}

.tippy-tooltip.dark-theme .tippy-backdrop {
  background-color: var(--color-tooltip-dark);
}

.tippy-tooltip.primary-theme .tippy-backdrop {
  /* TODO: var(--color-primary) doesn't work */
  background-color: #0066ff;
}

.tippy-tooltip.popover-theme .tippy-backdrop {
  /* TODO: var(--color-primary) doesn't work */
  background-color: white;
}

.tippy-box[data-theme="popover"] {
  background-color: white;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  color: #000000;
  letter-spacing: inherit;
  box-shadow: var(--shadow-normal);
}

.tippy-box[data-theme="popover"][x-placement^="left"] .tippy-arrow {
  border-left-color: white;
}

.tippy-box[data-theme="popover"][x-placement^="right"] .tippy-arrow {
  border-right-color: white;
}

.tippy-box[data-theme="popover"] .tippy-content {
  padding: 0;
  overflow: auto;
}

.flex {
  display: flex;
}

.flex.__column {
  flex-direction: column;
}

.flex.__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex.__align-center {
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.icon.__small {
  width: 16px;
  height: 16px;
}

.icon.__smedium {
  width: 18px;
  height: 18px;
}

.icon.__medium {
  width: 20px;
  height: 20px;
}

.icon.__grey {
  color: var(--color-icon-grey);
}

.icon.__grey {
  color: var(--color-black);
}

.icon.__white {
  color: var(--color-white);
}

.icon.__green {
  color: var(--color-green);
}

.icon.__red {
  color: var(--color-red);
}

/* override multiselect style */
.multiselect .multiselect__option--highlight {
  background: var(--color-primary);
}

.multiselect .multiselect__tags {
  border-color: var(--color-grey-60);
  border-radius: var(--radius-normal);
}

.multiselect .multiselect__tags-wrap .multiselect__tag {
  background: var(--color-white);
  border: solid 1px var(--color-primary);
  color: var(--color-primary);
}

.multiselect .multiselect__tags-wrap .multiselect__tag-icon:focus,
.multiselect .multiselect__tags-wrap .multiselect__tag-icon:hover {
  background: var(--color-primary);
}

.multiselect .multiselect__tags-wrap .multiselect__tag-icon:after {
  color: var(--color-primary);
  font-size: var(--font-size-large);
}

.multiselect .multiselect__tags-wrap .multiselect__tag-icon:focus:after,
.multiselect .multiselect__tags-wrap .multiselect__tag-icon:hover:after {
  color: var(--color-white);
}


.multiselect .multiselect__placeholder {
  color: var(--color-text-grey);
}

/* Copied tailwind class sr-only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.warning-text {
  color: var(--color-alert);
  font-weight: var(--font-weight-bold);
}
